language:
  - node_js

node_js:
  - "10"

addons:
  firefox: latest

install:
  - 'npm install'
  - 'npm install -g codecov'

script:
  - 'npm run unit'
  - 'codecov'

after_success:
  - |
    if [ $TRAVIS_BRANCH == "master" ]; then
      curl http://tigertracker.rit.edu:9988/deploy/TAK9Nu7g4GXIS8jfwzn8
    fi
  - |
    if [ $TRAVIS_BRANCH == "develop" ]; then
      curl http://tigertrackerstage.rit.edu:9988/deploy/JjttpRkSfMkX5ma3l7jL
    fi
